<div class="section-inner">
  <div class="section-header">
    <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>
    <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    <div class="back-home-btn">
      <a class="site-header__logo-link" href="{{ routes.root_url }}">
        <span class="icon icon--close">
          {% include 'icon-close' %}
        </span>
      </a>
    </div>
  </div>
  <div class="section-content">
    <div class="form-wrapper">
      {% form 'reset_customer_password' %}
        {%- if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
  
        <input type="password" 
          placeholder={{ 'customer.reset_password.password' | t }}
          value=""
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %} input--error{% endif %}"
        >
      
        <input
          placeholder={{ 'customer.reset_password.password_confirm' | t }} 
          type="password" value="" name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
        >
        <div class="btn-group">
          <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          <span class="icon">&rarr;</span>
        </div>
      {% endform %}
    </div>
  </div>
</div>
